extends base

block content 
  h1 Hello #{name}!
  p We received request to reset your password.
  p To set new password use token (valid for one hour):
  p.btn= token
  p on 
   a(href=url)= url
  p or click a link below
  a.btn(href=`${url}?token=${token}`) Set new Password